#root{
  height: 100%;
}

.App {
  height: 100%;
  position: relative;
  background-image: url('./images/background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.coins-form {
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: absolute;
  align-items: center;
  left: 30px;
  top: 30px;
  color: white;
}

.coin-input{
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
}

.coin{
  color: white;
  font-size: 35px;
}

.price {
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
}

.submit{
  width: 130px;
  height: 40px;
  background-color: rgba(255,255,255,0.3);
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.delete-btn {
  width: 130px;
  height: 40px;
  background-color: rgba(255,255,255,0.3);
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.user-coins {
  position: absolute;
  width: 20%;
  left: 40%;
  top: 20%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.coin-container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
